.portfolio
  background-color: $light-bg-color
  padding: 100px 0 125px
  position: relative
  z-index: 1
  &-bg
    &:before
      content: ''
      background-image: url(../img/portfolio/bg-slider.jpg)
      left: 0
      top: 0
      position: absolute
      width: 55%
      height: 100%
      z-index: -1
.portfolio
  &__title
    margin-bottom: 99px
    color: $text-color
.slider
  &__item
    text-align: center
    img
      margin: auto
.arrow
    width: 45px
    height: 19px
    position: absolute
    bottom: -68px
    &:hover
      cursor: pointer
    &__right
      left: 50%
      background: url('../img/portfolio/right-arrow.png') no-repeat center
      transform: translateX(15px)
    &__left
      left: 50%
      transform: translateX(-45px)
      margin-left: -15px
      background: url('../img/portfolio/left-arrow.png') no-repeat center
  
